
.navBar{
  position: relative;
  overflow: hidden;
  background-color: #1e81b0;
}
.navLinks{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navLinks li a{
  color: white;
  padding: 5vw;
  font-size: 2vw;
  max-font-size: 20px;
  text-decoration: none;
}
.navLinks li a:hover{
  color: black;
}
#home{
  font-size: max(20px,3vw);
}

.about{
  padding: 20px;
  text-align: center;
  background-color: #abdbe3;
}

.about h1{
  display:block;
  padding: 15px 30px;
}
#picture{
  width: 50%;
}

.form{
  background-color: #abdbe3;
  padding: 15px 30px;
}

textarea {
  width: 75%;
  max-width: 500px;
  min-height: 100px;
  resize: vertical;
}
#imageLink{
  width: 75%;
  max-width: 600px;
  min-width: 400px;
}
.button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}
#addButton{
  background-color: #1e81b0;
}
#addButton:hover {
  background-color: #154c79;
}
#inventoryList{
  background-color: #fbe6b8;
  padding: 10px 30px;
}
#itemList{
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pet{
  box-shadow: 0 4px 8px 0 #abdbe3;
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  height: auto;
  float: left;
  margin: 15px;
  padding: 10px;
}
.pet:hover {
  box-shadow: 0 8px 16px 0 #76b5c5;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.imageContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#deleteAll{
  color : red;
}
.deleteButton{
  float: right;
}

.quantity{
  font-style:italic;
}

#warning{
  font-style: italic;
  color: red;
}

.detail{
  margin-left: 20px;

}

.popupWindow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail {
  background: white;
  width: 80vw;
  max-width: 420px;
  padding: 2rem 1rem;
}
.detail img {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.vl {
  border-left: 6px solid;
  color: #1e81b0;
  height: 200px;
}

.previewPhoto{
  width: 300px;
  border: 1px solid #ccc;
  background-size: cover;
  background-position: center;
}

.pet-personality-container {
  display: flex;
  align-items: center;
}


input[type="number"],input[type="number"], select {
  border: 1px solid black;
  padding: 5px;
  border-radius: 2px;
}

input[type="number"] {
  width: 50px;
}

.selected-options-box {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  min-width: 150px;
  background-color: white;
  margin-left: 10px;
  min-height: 40px;
  height: auto;
  border-radius: 2px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  align-items: center;

}

.option {
  display: flex;
  align-items: center;
  background: gainsboro;
  margin-right: 10px;
  padding: 1px;
  border-radius: 2px;
  height: 80%;
  align-items: center;
}

.option span {
  margin-right: 5px;
  font-size: 1em;

}

.option button {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
  margin-left: 5px;
}

.custom-file-input input[type="file"] {
  position: absolute;
  left: -9999px;
}

.custom-file-input button {
  display: inline-block;
  padding: 4px 8px;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.custom-file-input span {
  margin-left: 8px;
}

.required-field::before {
  content: '*';
  color: red;
  margin-right: 2px;
}
.horizontalLine {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}